<div class="container">
  <h1>Restaurant's list</h1>
  <div>
    <ul class="list-group">
      <% @restaurants.each do |restaurant| %>
        <li>
          <%= link_to restaurant.name, restaurant_path(restaurant) %> - <%= restaurant.address %>
        </li>
      <% end %>
    </ul>
    <br>
    <%= link_to '<i class="fas fa-plus"></i> Add restaurant'.html_safe, new_restaurant_path, class: "btn btn-primary" %>
  </div>
</div>
